
.card{
    border: 5px solid rgb(227, 242, 253);
    .card-body{
        .votes-wrap-admin{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            gap: 5px 20px;
            margin-bottom: 10px; 
            span{
                font-size: 14px; 
                color: gray;
            }  
        }
        .btn-admin-wrap{
            display: flex; 
            gap: 20px;
            button{
                flex: 1;
            }
        }
        .votes-wrap{
            flex-wrap: wrap;
            .already-voted-text{
                background-color: green;
                border-radius: 5px;
                color: white;
                font-weight: 600;
                margin-bottom: 0px;
                padding: 5px 10px;
            }
            .total-votes-text,.poll-expired-text,.days-left-text{
                font-size: 14px;
                color: gray;
                margin: 10px;
                margin-bottom: 0px;
            }
        }
        .options-button-wrap{
            button{
                flex: 1; 
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 768px) {
    .card{
        .card-body{
            .votes-wrap-admin{ 
                grid-template-columns: 1fr;
            }
            .btn-admin-wrap{
                flex-direction: column;
                gap: 10px;
            }      
        }   
    }
}