.row.poll-card-margin{
    margin: 20px
}
label.form-label {
  min-width: 80px;
}

button.btn.btn-primary,button.btn.btn-success,button.btn.btn-danger {
  background-color: transparent;
  border-width: 1.5px;
  color: #007bff;
  font-weight: 500;
  opacity: 0.8;
  transition: 0.3s;
}
button.btn.btn-primary {
  color: #007bff;
}
button.btn.btn-success {
  color: #28a745;
}
button.btn.btn-danger {
  color: #dc3545;
}
button.btn.btn-primary:hover {
  background-color:#007bff;
}
button.btn.btn-success:hover {
  background-color:#28a745;
}
button.btn.btn-danger:hover {
  background-color:#dc3545;
}
button.btn.btn-primary:hover,button.btn.btn-success:hover,button.btn.btn-danger:hover {
  color: white;
  opacity: 1;
}

.content-poll{
  margin: 0px 0px;
}
.form-content{
  margin: 40px;
}

.App-header{
  margin: 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.navbar-brand{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

/* admin form */
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background: linear-gradient( #545454, #1F1F1F); */
#root{
  height: 100%;
}
.wrap{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.form-edit{
  border-radius: 5px;
  border: 5px solid rgb(227, 242, 253);
   /* border: 1px solid rgb(220, 217, 217); */
  padding: 40px;
  width: 600px;
  margin:20px;
  background-color: white;
}
.form-group{
   margin: 20px 0px;
}
.form-group>label{
  font-size: 14px;
  font-weight: 700;
}
.button-form-wrap{
   margin-top: 20px;
}
.btn-form{
   border-radius: 0px;
}
@media only screen and (max-width: 767px) {
   .form-edit {
     padding: 10px;
     margin:10px;
   }
}
/* admin form */

/* page */
.poll-empty{
  font-size: 24px;
  font-weight: 700; 
  text-align: center;
  margin-top: 40px;
}

footer{
  justify-content: flex-end;
  min-height: 100px;
  align-items: center;
  flex: 1;
  flex-direction: column;
  display: flex;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root{
  flex: 1;
  display: flex;
  flex-direction: column;
}